

<h1 style="padding: 5px; margin: 5px">What's in you {{ title }}?</h1>
<div class="container">
  <form>
    <div class="row" style="padding: 5px">
      <div class="col-lg-2">
        <label class="col-form-label">Item Name</label>
      </div>
      <div class="col">
        <input
          class="form-control flex-grow-1 flex-shrink-1 flex-fill flex-wrap"
          type="text"
          style="height: 38px; margin: 3px"
          required=""
        />
      </div>
      <div class="col-lg-2">
        <label class="col-form-label" style="margin-right: 28px"
          >Images</label
        >
      </div>
      <div class="col">
        <input
          class="form-control"
          type="file"
          style="margin: 5px"
        /><img style="margin: 5px" /><img style="margin: 5px" />
      </div>
      <div class="w-100"></div>
    </div>
    <div class="row">
      <div class="col-lg-2" style="height: 41px">
        <label class="col-form-label">Description</label>
      </div>
      <div class="col-lg-5">
        <textarea
          class="form-control"
          style="height: 137px; margin: 3px"
        ></textarea>
      </div>
      <div class="col-lg-1">
        <label class="col-form-label">Tags</label>
      </div>
      <div class="col">
        <input
          class="form-control"
          type="text"
          autocomplete="on"
          autofocus=""
          style="margin: 3px"
        /><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Results</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Results</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Results</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Results
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2" style="height: 41px">
        <label class="col-form-label">Category</label>
      </div>
      <div class="col">
        <input
          class="form-control"
          type="text"
          autocomplete="on"
          autofocus=""
          style="margin: 3px"
        /><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Button</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Button</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Button</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Button
        </button>
      </div>
      <div class="col-lg-2">
        <label class="col-form-label">Location</label>
      </div>
      <div class="col">
        <input
          class="form-control"
          type="text"
          autocomplete="on"
          autofocus=""
          style="margin: 5px"
        /><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Button</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Button</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Button</button
        ><button
          class="btn btn-primary"
          type="button"
          style="margin: 5px"
        >
          Button
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label class="col-form-label">Store</label>
      </div>
      <div class="col">
        <input
          class="form-control"
          type="text"
          style="margin: 3px"
          autocomplete="on"
        />
      </div>
      <div class="col-md-2">
        <label class="col-form-label">Cost</label>
      </div>
      <div class="col">
        <input
          class="form-control"
          type="text"
          style="margin: 3px"
          autocomplete="on"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label class="col-form-label">URL</label>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="url" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-lg-3" style="padding: 5px">
        <label class="col-form-label">Add to Shopping list</label>
      </div>
      <div class="col">
        <div class="form-check" style="margin: 3px">
          <input
            class="form-check-input"
            type="checkbox"
            id="formCheck-1"
          /><label class="form-check-label" for="formCheck-1"
            >Shopping</label
          >
        </div>
        <div class="form-check" style="margin: 3px">
          <input
            class="form-check-input"
            type="checkbox"
            id="formCheck-2"
          /><label class="form-check-label" for="formCheck-2"
            >Low Stock</label
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-lg-3" style="padding: 5px">
        <label class="col-form-label">Add to Project</label>
      </div>
      <div class="col">
        <select class="form-select" required="" style="margin: 3px">
          <optgroup label="This is a group">
            <option value="12" selected="">This is item 1</option>
            <option value="13">This is item 2</option>
            <option value="14">This is item 3</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col" style="margin: 5px">
        <button
          class="btn btn-primary"
          type="submit"
          style="margin: 3px"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
