
<!-- TODO connect and get each form piece running one at a time -->

<div class="container text-black">
  <form>
<!-- {{ title }} is Project from the ts file -->
    <div class="row p5" >
      <div class="col-lg-2">
        <label class="col-form-label" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right"
          title="Add only one project" for="project">{{ title }} Name</label>
      </div>
      <div class="col-lg-3">

<!--  TODO Project Name Input field
      TODO this is two way binding using ngModel -->

        <input class="form-control flex-grow-1 flex-shrink-1 flex-fill flex-wrap boxborder" type="text"
          required="" name="projectName"
          placeholder="Project Name" [(ngModel)]="projectName" />
<!-- TODO on change event -->
        <p>{{projectName}}</p>
      </div>
      <div class="col-lg-2">
<!-- TODO Project image upload -->

<!-- TODO HOW DOES THIS WORK??? -->
        <label class="col-form-label mr" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right"
           for="image" title="More than one can be added">
          Images</label>
      </div>
      <div class="col mb-3">
        <input class="form-control m5" type="file"  name="images" accept="image/*" />
<!-- TODO ngFor upload to display the image -->
<div class="mt-3">
        <img class="m5" src="/assets/img/avatars/avatar1.jpeg?h=0ecc82101fb9a10ca459432faa8c0656"/>{{image}}
        <img class="m5" src="/assets/img/avatars/avatar1.jpeg?h=0ecc82101fb9a10ca459432faa8c0656"/>
        {{image}}
        <img class="m5" src="/assets/img/avatars/avatar1.jpeg?h=0ecc82101fb9a10ca459432faa8c0656"/>
        {{image}}
        <img class="m5" src="/assets/img/avatars/avatar1.jpeg?h=0ecc82101fb9a10ca459432faa8c0656"/>
        {{image}}
 </div>     </div>
    </div>

<!-- TODO description text box -->
    <div class="row">
      <div class="col-lg-2 descl" >
        <label class="col-form-label">Description</label>
      </div>

<!-- TODO  [(ngModel)]="projectDescription" -->
      <div class="col-lg-5 boxborder">
        <textarea class="form-control desc" [(ngModel)]="projectDescription"
          name="projectDescription " placeholder="Describe and add details about the project"></textarea>
          <p>{{projectDescription}}</p>
      </div>

<!-- TODO tags entry
[(ngModel)]="tags"
TODO ngIf
TODO ngFor
TODO onKeyPress="enter will save"
TODO allow multiple tags to show on the buttons individually
TODO ensure that multiple tags can be saved
-->

      <div class="col-lg-1">
        <label class="col-form-label">Tags</label>
      </div>
      <div class="col">
        <input [(ngModel)]="tags" class="form-control results" type="text" autocomplete="on" autofocus="" name="tags"
          placeholder="Add Tags to aid in searching for this project" />
<!-- TODO tags results *ngif to repeat results button ngFor-->
        <button class="btn btn-primary m5" type="button" >
          {{tags}}
        </button>
      </div>
    </div>

    <!-- Category
    [(ngModel)]="category"
TODO ngIf
TODO ngFor
TODO onKeyPress="enter will save"
TODO allow multiple categories to show on the buttons individually
TODO ensure that multiple categories can be saved
    -->
    <div class="row">
      <div class="col-lg-2 descl" >
        <label class="col-form-label">Category</label>
      </div>
      <div class="col">
        <input [(ngModel)]="category" class="form-control results" type="text" autocomplete="on" autofocus=""
         name="category" placeholder="Add a category or more than one" />

        <button class="btn btn-primary m5" type="button" >
          <!-- ngFor -->
          {{category}}
        </button>
      </div>

<!-- Location
[(ngModel)]="location"
TODO ngIf
TODO ngFor
TODO onKeyPress="enter will save"
TODO allow multiple tags to show on the buttons individually
TODO ensure that multiple tags can be saved
-->
      <div class="col-lg-1">
        <label class="col-form-label descl">Location</label>
      </div>
      <div class="col">
        <!-- <input [(ngModel)]="location" class="form-control results" type="text" autocomplete="on" autofocus="" -->
        name="location" placeholder="Describe the Container &amp; Location" />
        <button class="btn btn-primary m5" type="button" >
          <!-- TODO ngfor -->
          <!-- {{location}} -->
        </button>
      </div>

    </div>

    <!-- Status -->

    <div class="row">
      <div class="col">
        <div class="col-lg-2 descl" >
        <label class="col-form-label">Status</label>
        </div>
<!-- TODO boolean toggle buttons -->
        <div class="form-check form-switch form-check-inline">
          <input class="form-check-input" type="checkbox" id="notStarted" />
          <label class="form-check-label" for="notStarted">
            Not Started</label>
        </div>


        <div class="form-check form-switch form-check-inline">
          <input class="form-check-input" type="checkbox" id="inProgress" /><label class="form-check-label"
            for="inProgress">In Progress</label>
        </div>

        <div class="form-check form-switch form-check-inline">
          <input class="form-check-input" type="checkbox" id="missingSupplies" /><label class="form-check-label"
            for="missingSupplies">Missing Supplies</label>
        </div>

        <div class="form-check form-switch form-check-inline">
          <input class="form-check-input" type="checkbox" id="ufo" /><label class="form-check-label"
            for="ufo">UFO</label>
        </div>

        <div class="form-check form-switch form-check-inline">
          <input class="form-check-input" type="checkbox" id="completed" /><label class="form-check-label"
            for="completed">Completed</label>
        </div>

      </div>
    </div>

<h3 class="mt-3">Supplies</h3>
    <!-- SUPPLIES LIST
     TODO  [(ngModel)]="supplyItem"
    -->
    <div class="row mt-3 mb-2">
      <div class="col-lg-1">
        <label class="col-form-label">Item</label>
      </div>
      <div class="col">
        <input [(ngModel)]="supplyItem" class="form-control flex-grow-1 flex-shrink-1 b1" type="text" autocomplete="on" autofocus=""
          name="supplyItem" placeholder="What do you need?"  />
          {{supplyItem}}
      </div>

<!--      TODO
[(ngModel)]="qty"
-->
      <div class="col-lg-1">
        <label class="col-form-label">Quantity</label>
      </div>
      <div class="col">
        <input [(ngModel)]="qty" class="form-control flex-grow-1 flex-shrink-1 b1" type="text" autocomplete="on" autofocus="" placeholder="How much do you need?" name="qty" />
           {{qty}}
      </div>
    </div>

    <!--      TODO
[(ngModel)]="supplyDescription"
-->

    <div class="row">
      <div class="col-lg-2">
        <label class="col-form-label">Description</label>
      </div>
      <div class="col">
        <textarea [(ngModel)]="supplyDescription" class="form-control flex-grow-1 flex-shrink-1 b1" autofocus="" name="supply-description"
          placeholder="Add details about the supply item such as color, sizes or styles" rows="4"
          >
        </textarea>
{{supplyDescription}}


      <!-- on change event -->

<!-- TODO save to supplies list ngFor  -->
        <button class=" m-3 btn btn-primary">Add to Supplies List for This Project</button>
      </div>
    </div>

    <!-- supply list -->
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body flex-grow-1 flex-shrink-1 flex-wrap">
            <h4 class="card-title">Supplies</h4>

<!-- TODO on change event -->
<p>Item</p>
            <p>{{supplyItem}}</p>
          </div>
          <div class="col-lg-2 m-3">

<!-- TODO the description text should target here -->
            <p>Description</p>
            <p>{{supplyDescription}}</p>
            <p>Qty</p>
            <p>{{qty}}</p>
            <div class="form-check form-switch">
<!-- TODO this should check the stash and determine if the item needs to be added to the shopping list -->
<!-- TODO ngIf (switch?) box is true check stash else add to shopping-->
              <input class="form-check-input" type="checkbox" id="checkStash" />
              <label class="form-check-label" for="checkStash"> Check Stash</label>
            </div>
<!-- TODO if checked =true add to shoppinglist -->
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="addToShopping" />
              <label class="form-check-label" for="addToShopping">Add to Shopping List</label>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- TODO save all data to the database  -->
    <div class="row">
      <div class="col m5" >
        <button class="btn btn-primary flex-grow-1 flex-shrink-1 m3" type="submit" >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
