<div class="container">
  <main role="main" class="dash main content bd-content pt-3 mt-3 text-black">
      <section class="container">
          <div class="flex-column">
              <div class="row">
                <h2>It's around here... somewhere!</h2>
                  <div class="justify-content-between flex-wrap  align-items-top pb-2 mb-3 border-bottom">
                      <p class="lead">This is a project and supplies tracker for sewing projects but it can be used
                          for
                          knitting,
                          crochet, woodworking, car parts, Warhammer minis, or just about any other hobby that has
                          smaller
                          projects and supplies for each one.</p>
                          <p class="lead"> This can also track what items need to be purchased or what is
                          already "in stock" to avoid over buying which is a bad habit of those with hobbies!
                      </p>
                  </div>
              </div>
          </div>
      </section>
      <section class="container mb-5 pb-5">
          <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Questions</h5>
                          <p class="card-text">
                          <p>☑ What are my current UFOs
                              (unfinished objects)</p>
                          <p>☑ Pattern Tracking - what patterns
                              do I have?</p>
                          <p>☑ Fabric - what fabrics do I have?</p>
                          <p>☑ Notions - what notions do I have?</p>
                          <p>☑ Tools - what's on my wishlist?</p>
                          <a href="#" class="btn btn-primary">Questions</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Features</h5>
                          <p class="card-text">
                          <p>☑ Link supplies to patterns</p>
                          <p>☑ Inventory of supplies on hand</p>
                          <p>☑ Shopping list to reduce double or more buying</p>
                          <p>☑ Project status</p>
                          <p>☑ Filters</p>
                          <p>☑ Sorting</p>

                        <a href="#" class="btn btn-primary">Uses</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Shopping</h5>
                          <p>☑ What do I need?</p>
                          <p>☑ How much do I need?</p>
                          <p>☑ What's on the wishlist?</p>
                          <a href="#" class="btn btn-primary">Questions</a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
</div>
